* {
  text-decoration: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f2f6e9;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

img {
  max-width: 100%;
}
