.carousel {
  position: relative;
}

.title {
  position: absolute;
  top: 30%;
  right: 60%;
  color: #231f22;
}

@media all and (max-width: 670px) {
  .title {
    h4 {
      font-size: 0.6rem;
    }
  }
}
