.twitter {
  background-color: #4b82e6;
}
.pixiv {
  background-color: #c9ff9a;
}
.btn {
  display: inline-block;
  padding: 5px;
  border-radius: 3px;
  color: #000001;
  border: none;
  margin-right: 1rem;
}
